body {
  font-family: "Liberation Mono";
  background-image: url("fondcv.png");
}

.logo {
  float: left;
  margin-left: 30px;
  margin-top: 25px;
  border-radius: 200px;
}

.photo {
  margin-top: -140px;
  margin-right: -80px;
  float: right;
  border-radius: 20px;
}

ul {
  list-style: none;
}

#menu {
  font-family: "Pincoyablack";
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 25px;
}

header a {
  font-family: cursive;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  background-color: grey;
  border-color: black;
  padding: 7px;
}

a:hover {
  text-decoration: underline;
  color: black;
}

.menu {
  text-align: center;
  list-style: none;
  border: 2px solid grey;
  padding-right: 140px;
  border-radius: 10px;
  background-color: #dcdcdc;
  padding-bottom: 10px;
}

header li {
    display: inline;
    padding: 5px;
}

h1 {
text-align: center;
}

h2 {
  border:2px solid black;
  text-align: center;
  max-width: 400px;
  margin: auto;
  background: #dcdcdc;
  border-radius: 10px;
}

div {
  padding-top: 5px;
  padding-bottom: 5px;
}

div.centreliste {
  max-width: 450px;
  margin: auto;
}

h3 {
  text-align: left;
}
